@import "tailwindcss";

:root {
  --background: #ECE9E2;
  --foreground: #515442;
  
  --color-cream: #ECE9E2;
  --color-beige: #E1D7C4;
  --color-sage: #CBD1A1;
  --color-olive: #6F744A;
  --color-dark-olive: #515442;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-cream: var(--color-cream);
  --color-beige: var(--color-beige);
  --color-sage: var(--color-sage);
  --color-olive: var(--color-olive);
  --color-dark-olive: var(--color-dark-olive);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Elegant scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-olive);
  border-radius: 10px;
}
